<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container" id="sale"></div>
<div class="container" id="promo"></div>
<div class="container" id="recommended"></div>

<!-- Ваш шаблон. Код можно менять тлько внутри этого тега <script>,
остальной HTML трогать нельзя. -->
<script type="text/template" id="productTemplate">
	<a href="#" class="product-link col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="product container-fluid">
		<span class="product__img-wrap">
			<img class="product__img img" src="<%= pic %>" alt="">
		</span>
			<p class="product__name"><%= name %></p>
			<p class="product__price-box">Цена: <span class="product__price"><%= price %></span></p>
		</div>
	</a>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="script.js"></script>
</body>
</html>
